
#leaderboardDiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 2em;
}

#leaderboardTitle {
	font-size: 2rem;
	margin-bottom: 0.5em;
}

#leaderboardTable {
	min-width: 16em;
}

#leaderboardHead {
	font-size: 1.5rem;
}
